name: Wheels

on: [ push, pull_request ]


jobs:
  Windows-Wheels:
    name: "Windows Wheels"
    runs-on: windows-latest

    steps:
      - name: Support longpaths on Windows
        run: git config --global core.longpaths true

      - uses: actions/checkout@v4

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: CloudCompareDev
          auto-activate-base: false
          python-version: "3.8"
          miniconda-version: 'latest'

      - name: Install Dependencies
        run: |
          conda install -c conda-forge qt=5.12.*
          python -m pip install --upgrade pip
          pip install pytest

      - name: Configure MSVC console
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set environment for MSVC
        run: |
          # Set these env vars so cmake picks the correct compiler
          # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#environment-files
          echo "CXX=cl.exe" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "CC=cl.exe" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: pip install cccorelib
        working-directory: "./wrapper"
        run: pip install -v .\cccorelib

      - name: pip install pycc
        working-directory: "./wrapper"
        run: |
          pip install -v .\pycc
        env:
          SKBUILD_CONFIGURE_OPTIONS: "-DPLUGIN_STANDARD_QM3C2=ON"

      - name: test cccorelib
        run: pytest -v wrapper\cccorelib\tests

      - name: test pycc
        run: pytest -v wrapper\pycc\tests


  Ubuntu-Wheels:
    name: "Ubuntu Wheels"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update -qq
          sudo apt install build-essential cmake ninja-build libqt5svg5-dev libqt5opengl5-dev qttools5-dev qttools5-dev-tools python3-dev xvfb
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install pytest


      - name: pip install cccorelib
        run: |
          source venv/bin/activate
          python -m pip install -v ./wrapper/cccorelib

      - name: pip install pycc
        run: |
          source venv/bin/activate
          python -m pip install -v ./wrapper/pycc
        env:
          SKBUILD_CONFIGURE_OPTIONS: "-DPLUGIN_STANDARD_QM3C2=ON"

      - name: test cccorelib
        run: |
          source venv/bin/activate
          python -m pytest -v wrapper/cccorelib/tests

      - name: test pycc
        run: |
          source venv/bin/activate
          xvfb-run python -m pytest -v wrapper/pycc/tests

  macOS-Wheels:
    name: "macOS Wheels"
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install qt@5 ninja
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install pytest
          echo "CMAKE_PREFIX_PATH=$(brew --prefix qt@5)" >> $GITHUB_ENV

      - name: pip install cccorelib
        working-directory: "./wrapper"
        run: |
          source ../venv/bin/activate
          python -m pip install -v ./cccorelib

      - name: pip install pycc
        working-directory: "./wrapper"
        run: |
          source ../venv/bin/activate
          python -m pip install -v ./pycc
        env:
          SKBUILD_CONFIGURE_OPTIONS: "-DPLUGIN_STANDARD_QM3C2=ON"

      - name: test cccorelib & pycc
        run: |
          source venv/bin/activate
          python -m pytest wrapper/cccorelib/tests
          python -m pytest wrapper/pycc/tests
