<?xml version='1.0' encoding='windows-1252'?>

<!-- https://wixtoolset.org/docs/v3/overview/preprocessor/ -->

<?define SourcePluginPath = "$(var.SourceInstallPath)/plugins" ?>

<?ifndef PLUGIN_STANDARD_QM3C2 ?>
    <?define PLUGIN_STANDARD_QM3C2 = "OFF" ?>
<?endif?>


<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Name='CloudCompare-PythonPlugin 0.0.1'
        Manufacturer='Thomas Montaigu'
        Id='30898b3e-9391-4790-8f22-0459408a7862'
        UpgradeCode='3e92988a-6d78-4464-bc19-930ccf2a1d5d'
        Language='1033' Codepage='1252' Version='0.0.1'
    >

        <Package
            Id='*'
            Keywords='Installer'
            Description="CloudCompare-PythonPlugin 0.0.1 Installer"
            Comments='Python Plugin for CloudCompare'
            Manufacturer='Thomas Montaigu'
            InstallerVersion='200'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'
            Platform='x64'
        />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Property Id='DiskPrompt' Value="CloudCompare-PythonPlugin 0.0.1 Installer" />

        <Property Id="WIXUI_INSTALLDIR" Value="CLOUDCOMPAREDIR" />

        <Property Id="SOURCEDIRECTORY" Value="Python" />

        <!-- Our directory structure -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                    <Directory Id='CLOUDCOMPAREDIR' Name='CloudCompare'>
                        <Directory Id='PLUGINSDIR' Name='plugins'>
                            <Directory Id='PythonEnvironmentDir' Name="Python"/>
                        </Directory>

                        <?if $(var.PLUGIN_STANDARD_QM3C2) = "ON" ?>
                            <Directory Id='PYTHONPLUGINSDIR' Name='plugins-python'/>
                        <?endif?>
                    </Directory>
            </Directory>
        </Directory>

        <!-- Files to put int our installer  -->
        <DirectoryRef Id="CLOUDCOMPAREDIR">
            <Component Id='OfficialPythonDLLBase' Guid='fd589986-9e18-491c-9272-a2ead3a573b1' Win64="yes">
                <File Id='PythonDllBase' Name='python3.dll' DiskId='1'
                      Source='$(var.SourceInstallPath)/python3.dll' KeyPath='yes'/>
           </Component>
            <Component Id='OfficialPythonDLLMinor' Guid='fd589986-9e18-491c-9272-a2ead3a573b9' Win64="yes">
                <File Id='PythonDllMinor' Name='python3$(var.PythonSuffix).dll' DiskId='1'
                      Source='$(var.SourceInstallPath)/python3$(var.PythonSuffix).dll' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="PLUGINSDIR">
            <Component Id='PythonPlugin' Guid='9d8bbbc0-40d9-4fb8-ac2b-17891ce43cdf' Win64="yes">
                <File Id='PluginDLL' Name='PythonPlugin.dll' DiskId='1'
                      Source='$(var.SourcePluginPath)/PythonPlugin.dll' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <?if $(var.PLUGIN_STANDARD_QM3C2) = "ON" ?>
            <DirectoryRef Id="PLUGINSDIR">
                <Component Id='QM3C2_PLUGIN' Guid='20791491-83e8-4b31-af9f-9e864cfb59c6' Win64="yes">
                    <File Id='QM3C2_PLUGIN_DLL' Name='QM3C2_PLUGIN.dll' DiskId='1'
                          Source='$(var.SourcePluginPath)/QM3C2_PLUGIN.dll' KeyPath='yes'/>
                </Component>
            </DirectoryRef>

            <DirectoryRef Id='PYTHONPLUGINSDIR'>
                <Component Id='QM3C2_PLUGIN_WRAPPER' Guid='22964a74-bcb4-4898-a3fd-be2b261d9e76' Win64="yes">
                    <File Id='QM3C2_PLUGIN_WRAPPER_PYD' Name='pym3c2.cp3$(var.PythonSuffix)-win_amd64.pyd' DiskId='1'
                          Source='$(var.SourceInstallPath)/plugins-python/pym3c2.cp3$(var.PythonSuffix)-win_amd64.pyd'
                          KeyPath='yes'/>
                </Component>
            </DirectoryRef>
        <?endif?>



        <!-- Our features -->
        <Feature Id='Complete' Level='1' Title='Complete Plugin installation' Description='The complete package.' Display='expand' ConfigurableDirectory='PLUGINSDIR'>
            <Feature Id='PythonPluginFeature' Level='1' Title='Python Plugin' Description='Python Plugin for CloudCompare'>
                <ComponentRef Id='PythonPlugin'/>
                <ComponentGroupRef Id='PythonEnvironment'/>
                <ComponentRef Id='OfficialPythonDLLBase'/>
                <ComponentRef Id='OfficialPythonDLLMinor'/>
            </Feature>


            <?if $(var.PLUGIN_STANDARD_QM3C2) = "ON" ?>
                <!-- The level is higher than its parent, so it is disabled by default -->
                <Feature Id='QM3C2_PLUGIN_FEATURE'
                         Level='2'
                         Title='qM3C2 Python Wrapper'
                         Description='Allow using the qM3C2 plugin from Python.'>
                    <ComponentRef Id='QM3C2_PLUGIN_WRAPPER'/>
                    <ComponentRef Id='QM3C2_PLUGIN'/>
                </Feature>
            <?endif?>
        </Feature>


        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />
    </Product>
</Wix>
