<?xml version='1.0' encoding='windows-1252'?>


<?define SourcePluginPath = "$(var.SourceInstallPath)/plugins" ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Name='CloudCompare-PythonPlugin 0.0.1' 
        Manufacturer='Thomas Montaigu'
        Id='30898b3e-9391-4790-8f22-0459408a7862' 
        UpgradeCode='3e92988a-6d78-4464-bc19-930ccf2a1d5d'
        Language='1033' Codepage='1252' Version='0.0.1'
    >

        <Package 
            Id='*' 
            Keywords='Installer' 
            Description="CloudCompare-PythonPlugin 0.0.1 Installer"
            Comments='Python Plugin for CloudCompare'
            Manufacturer='Thomas Montaigu'
            InstallerVersion='200' 
            Languages='1033' 
            Compressed='yes' 
            SummaryCodepage='1252'
            Platform='x64'
        />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Property Id='DiskPrompt' Value="CloudCompare-PythonPlugin 0.0.1 Installer" />

        <Property Id="WIXUI_INSTALLDIR" Value="CLOUDCOMPAREDIR" />

        <Property Id="SOURCEDIRECTORY" Value="Python" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                    <Directory Id='CLOUDCOMPAREDIR' Name='CloudCompare'>

                        <Component Id='AdditionalQtStuff' Guid='2abce2b9-7492-491b-949d-eac667ea8930' Win64="yes" >
                                <File Id='Qt5WebEngineCore' Name='Qt5WebEngineCore.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5WebEngineCore.dll' KeyPath='yes'/>
                                <File Id='Qt5WebEngineWidgets' Name='Qt5WebEngineWidgets.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5WebEngineWidgets.dll'/>
                                <File Id='Qt5WebChannel' Name='Qt5WebChannel.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5WebChannel.dll'/>
                                <File Id='QtWebEngineProcess' Name='QtWebEngineProcess.dll' DiskId='1' Source='$(var.SourceInstallPath)/QtWebEngineProcess.exe' />

                                <File Id='Qt5Network' Name='Qt5Network.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5Network.dll' />
                                <File Id='Qt5Positioning' Name='Qt5Positioning.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5Positioning.dll' />
                                <File Id='Qt5PrintSupport' Name='Qt5PrintSupport.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5PrintSupport.dll' />
                                <File Id='Qt5Qml' Name='Qt5Qml.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5Qml.dll' />
                                <File Id='Qt5Quick' Name='Qt5Quick.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5Quick.dll' />
                                <File Id='Qt5QuickWidgets' Name='Qt5QuickWidgets.dll' DiskId='1' Source='$(var.SourceInstallPath)/Qt5QuickWidgets.dll' />
                        </Component>

                        <Directory Id='QtBearerDir' Name='bearer'>
                            <Component Id='QtBearer' Guid='c3547011-2c80-4396-9975-17a87f037b42' Win64="yes" >
                                <File Id='qgenericbearer' Name='qgenericbearer.dll' DiskId='1' Source='$(var.SourceInstallPath)/bearer/qgenericbearer.dll' />
                            </Component>
                        </Directory>

                        <Directory Id='QtResourcesDir' Name="resources"/>

                        <Component Id='OfficialPythonDLL' Guid='fd589986-9e18-491c-9272-a2ead3a573b9' Win64="yes" >
                            <File Id='PythonDll' Name='python$(var.PythonSuffix).dll' DiskId='1' Source='$(var.SourceInstallPath)/python$(var.PythonSuffix).dll' KeyPath='yes'/>
                        </Component>

                        <Directory Id='PLUGINSDIR' Name='plugins'>
                            <Component Id='PythonPlugin' Guid='9d8bbbc0-40d9-4fb8-ac2b-17891ce43cdf' Win64="yes" >
                                <File Id='PluginDLL' Name='PythonPlugin.dll' DiskId='1' Source='$(var.SourcePluginPath)/PythonPlugin.dll' KeyPath='yes'/>
                            </Component>

                            <Directory Id='PythonEnvironmentDir' Name="Python"/>
                        </Directory>
                </Directory>
            </Directory>
        </Directory>


        <Feature Id='Complete' Level='1' Title='Python Plugin' Description='The complete package.' Display='expand' ConfigurableDirectory='PLUGINSDIR'>
            <ComponentRef Id='PythonPlugin' />
            <ComponentGroupRef Id='PythonEnvironment' />
            <ComponentRef Id='OfficialPythonDLL' />
            <ComponentRef Id='AdditionalQtStuff' />
            <ComponentRef Id='QtBearer' />
            <ComponentGroupRef Id='QtResources' />
        </Feature>

        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

    </Product>
</Wix>



